<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>FairRide</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Privacy - Location Always and When In Use Usage Description</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Privacy - Location Always Usage Description</string>
	<key>NSLocationUsageDescription</key>
	<string>FareRide</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Privacy - Location When In Use Usage Description</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UberCallbackURIs</key>
	<array>
		<dict>
			<key>URIString</key>
			<string>[callback://your_callback_uri]</string>
			<key>UberCallbackURIType</key>
			<string>General</string>
		</dict>
	</array>
	<key>UberClientID</key>
	<string>ZqsO3_h9jheg4UdvTDwTzMn9-aB_RI90</string>
	<key>UberDisplayName</key>
	<string>FairRide</string>
	<key>UberServerToken</key>
	<string>Ti-eArOS3586hoeMM48iJS5erJgE0skKVEu5LyM8</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>uber</string>
        <string>uberauth</string>
    </array>
</dict>
</plist>
